
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/view">view products</a></li>
        <li><a routerLink="/edit">edit product</a></li>
        <li><a routerLink="/delete">remove product</a></li>
        <li><a routerLink="/new">new product</a></li>
        <li><a routerLink="/about">about us</a></li>
        <li><a routerLink="/contact">contact us</a></li>
        <li><a routerLink="/data">service</a></li>
        
      </ul>
    </div>
  </nav>
        